.html { font-size: 18px;}
.body { font-family: 'Public Sans'; font-size: 18px; color: hsl(233, 8%, 62%); font-weight: 400; }
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.main { margin-left: 50px;}
.header { background-color: hsl(0, 0%, 100%); position: relative; display: flex; justify-content: space-between; align-items: center;}
.header a { text-decoration: none; color: hsl(233, 26%, 24%); font-weight: 700;}
.header nav { display: flex; align-items: flex-start; align-items: center;}
.header nav ul { display: flex; list-style: none; gap: 30px; }
.header nav ul li a { text-decoration: none; color: hsl(233, 8%, 62%); font-weight: 400; }
.header nav ul li a:hover { text-decoration: underline; text-decoration-color: limegreen;}
.header button { align-items: flex-end; display: flex; background-color: hsl(136, 65%, 51%);}
.footer { background-color: hsl(233, 26%, 24%); width: 100%; position: relative; margin: 0; padding: 0; display: flex; justify-content: space-between; flex-wrap: wrap; box-sizing: border-box;}
.right-column { position: relative; display: flex; justify-content: flex-end; align-items: center; overflow: hidden; max-width: 100%; }
.right-column img:first-child { width: 100%; position: absolute; top: 0; margin-top: -20%; right: -10%; z-index: 1; }
.right-column img:last-child { position: relative; z-index: 2; width: 80%; height: auto; margin-top: -10%; margin-right: -15%; }
.left-column { flex: 1; max-width: 30%; display: flex; flex-direction: column; text-align: left; }
.text { font-size: 3rem; font-weight: 400; color: hsl(233, 26%, 24%); margin-bottom: 20px; }
.pstyle { font-size: 1rem; color: hsl(233, 8%, 62%); margin-bottom: 30px; line-height: 1.6; }
.button { background-color: hsl(136, 65%, 51%); color: hsl(0, 0%, 100%); border: none; border-radius: 30px; font-weight: 400; cursor: pointer; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); transition: all 0.3s ease; display: inline-block; padding: 0.5em 1em; }
button:hover { backdrop-filter: blur(2.60px); transform: scale(1.05); box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); opacity: 0.70; }
  
.h3style:hover { color: limegreen;}
.whychooseus {
    display: flex;
    flex-wrap: wrap;
    margin-top: -10%;
    background-color: hsl(220, 16%, 96%);
}

.whychoose {
    margin-bottom: 30px;
}
.whychooseuscontent {
    width: 20%;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.articlesection {
    display: flex;
    flex-wrap: wrap;
}
.articles img {
    width: 60%;
}

.articles {
    width: 20%;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.mobile-nav {
    display: none;
    position: fixed;
    z-index: 99; 
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}





.mobile-nav .close-btn {
    position: absolute;
    z-index: 100;
    top: 20px;                     
    right: 20px;                    
    font-size: 30px;                
    color: #fff;                    
    cursor: pointer;      
}



.socials {
    display: flex;
    align-items: flex-start;         
    gap: 10px;   
    margin-top: 20px; 
    margin-left: 60px; 
    justify-items: center;  
    align-items: center;              
}

.footer >div >img {
    margin-left: 60px;
    margin-top: 20px;
}




.socials img {
    width: 24px;                 
    height: 24px;                   
    transition: transform 0.3s;      
}


.socials a:hover img {
    color: limegreen;
    background-color: limegreen;
}

.footerrequest {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    margin-right: 40px;
    
}


.footertext {
    display: flex;
    flex-wrap: wrap;
    color: limegreen;
}


.footer a:hover {
    color: limegreen;         
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        display: none;
        padding-left: 0;
    }

    nav ul li {
        margin: 10px 0;
    }

    

    .mobile-nav {
        display: block; 
    }
}